.custom-swal--popup {
  z-index: 3001 !important;

  .swal2-popup {
    overflow: hidden !important;
    border-radius: 16px !important;
    background: rgb(var(--v-theme-surface-shade));
    color: rgb(var(--v-theme-on-surface));

    .swal2-icon {
      border-color: rgba(var(--v-theme-primary), 0.24);
      color: rgb(var(--v-theme-primary));
    }

    .swal2-validation-message {
      background-color: rgb(var(--v-theme-surface-shade));
      color: rgb(var(--v-theme-on-surface));

      &::before {
        background-color: rgba(var(--v-theme-error));
        color: rgba(var(--v-theme-surface-shade));
      }
    }

    button {
      border-radius: 8px !important;

      &.custom-swal--button-cancel {
        height: 36px;
        padding: 0 16px;
        font-size: 14px;
        display: inline-grid;
        align-items: center;
        background-image: none !important;
        background-color: transparent;
        border: thin solid currentColor !important;
        color: rgb(var(--v-theme-error));

        &:hover { background-color: rgba(var(--v-theme-error), 0.04) }
        &:focus { box-shadow: 0 0 0 3px rgba(var(--v-theme-error), 0.36) }
      }

      &.custom-swal--button-confirm {
        height: 36px;
        padding: 0 16px;
        font-size: 14px;
        display: inline-grid;
        align-items: center;
        background-image: none !important;
        background-color: rgb(var(--v-theme-primary));
        color: rgb(var(--v-theme-on-primary));

        &:hover { opacity: 0.96 }
        &:focus { box-shadow: 0 0 0 3px rgba(var(--v-theme-primary), 0.36) }
      }
    }
  }

  &.popup-primary .swal2-popup {
    .swal2-icon {
      border-color: rgba(var(--v-theme-primary), 0.24);
      color: rgb(var(--v-theme-primary));

      [class^=swal2-x-mark-line] {
        background: rgb(var(--v-theme-primary));
      }
    }
    .swal2-confirm {
      background-color: rgb(var(--v-theme-primary));
      color: rgb(var(--v-theme-on-primary));
      &:focus { box-shadow: 0 0 0 3px rgba(var(--v-theme-primary), 0.36) }
    }
  }

  &.popup-success .swal2-popup {
    .swal2-icon {
      border-color: rgba(var(--v-theme-success), 0.24);
      color: rgb(var(--v-theme-success));

      [class^=swal2-x-mark-line] {
        background: rgb(var(--v-theme-info));
      }
    }
    .swal2-confirm {
      background-color: rgb(var(--v-theme-success));
      color: rgb(var(--v-theme-on-success));
      &:focus { box-shadow: 0 0 0 3px rgba(var(--v-theme-success), 0.36) }
    }
  }

  &.popup-warning .swal2-popup {
    .swal2-icon {
      border-color: rgba(var(--v-theme-warning), 0.24);
      color: rgb(var(--v-theme-warning));

      [class^=swal2-x-mark-line] {
        background: rgb(var(--v-theme-warning));
      }
    }
    .swal2-confirm {
      background-color: rgb(var(--v-theme-warning));
      color: rgb(var(--v-theme-on-warning));
      &:focus { box-shadow: 0 0 0 3px rgba(var(--v-theme-warning), 0.36) }
    }
  }

  &.popup-error .swal2-popup {
    .swal2-icon {
      border-color: rgba(var(--v-theme-error), 0.24);
      color: rgb(var(--v-theme-error));

      [class^=swal2-x-mark-line] {
        background: rgb(var(--v-theme-error));
      }
    }
    .swal2-confirm {
      background-color: rgb(var(--v-theme-error));
      color: rgb(var(--v-theme-on-error));
      &:focus { box-shadow: 0 0 0 3px rgba(var(--v-theme-error), 0.36) }
    }
  }

  &.popup-info .swal2-popup {
    .swal2-icon {
      border-color: rgba(var(--v-theme-info), 0.24);
      color: rgb(var(--v-theme-info));

      [class^=swal2-x-mark-line] {
        background: rgb(var(--v-theme-info));
      }
    }
    .swal2-confirm {
      background-color: rgb(var(--v-theme-info));
      color: rgb(var(--v-theme-on-info));
      &:focus { box-shadow: 0 0 0 3px rgba(var(--v-theme-info), 0.36) }
    }
  }
}


.custom-swal--toast {
  z-index: 2401 !important;
  
  &.swal2-bottom { bottom: 5% !important }
  .swal2-toast {
    overflow: hidden !important;
    border-radius: 16px !important;
    background: rgb(var(--v-theme-surface)) !important;
    border: .25em solid;
    box-shadow:
      0 2px 9px -2px rgba(var(--v-theme-on-surface), 0.06),
      0 4px 9px 1px rgba(var(--v-theme-on-surface), 0.04),
      0 2px 6px 4px rgba(var(--v-theme-on-surface), 0.02)
      !important;

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }

  &.toast-success .swal2-toast {
    color: rgb(var(--v-theme-success));
    border-color: rgba(var(--v-theme-success), 0.24);

    &::before { background: rgba(var(--v-theme-success), 0.12) }
    .swal2-timer-progress-bar { background: rgba(var(--v-theme-success), 0.48) }
    .swal2-icon { border-color: rgb(var(--v-theme-success)) }
    .swal2-success-line-tip, .swal2-success-line-long { background-color: rgb(var(--v-theme-success)) }
    .swal2-success-ring { border-color: rgba(var(--v-theme-success), 0.24) }
    .swal2-success-circular-line-right, .swal2-success-circular-line-left, .swal2-success-fix {
      border-radius: 0 !important;
      background: rgb(var(--v-theme-surface)) !important;
    }
    .swal2-success-circular-line-right::before, .swal2-success-circular-line-left::before, .swal2-success-fix::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(var(--v-theme-success), 0.12);
    }
  }

  &.toast-warning .swal2-toast {
    color: rgb(var(--v-theme-warning));
    border-color: rgba(var(--v-theme-warning), 0.24);

    &::before { background: rgba(var(--v-theme-warning), 0.12) }
    .swal2-timer-progress-bar { background: rgba(var(--v-theme-warning), 0.48) }
    .swal2-icon {
      border-color: rgba(var(--v-theme-warning), 0.24);
      color: rgb(var(--v-theme-warning));
    }
  }

  &.toast-error .swal2-toast {
    color: rgb(var(--v-theme-error));
    border-color: rgba(var(--v-theme-error), 0.24);

    &::before { background: rgba(var(--v-theme-error), 0.12) }
    .swal2-timer-progress-bar { background: rgba(var(--v-theme-error), 0.48) }
    .swal2-icon {
      border-color: rgba(var(--v-theme-error), 0.24);
      color: rgb(var(--v-theme-error));
    }
  }

  &.toast-info .swal2-toast {
    color: rgb(var(--v-theme-info));
    border-color: rgba(var(--v-theme-info), 0.24);

    &::before { background: rgba(var(--v-theme-info), 0.12) }
    .swal2-timer-progress-bar { background: rgba(var(--v-theme-info), 0.48) }
    .swal2-icon {
      border-color: rgba(var(--v-theme-info), 0.24);
      color: rgb(var(--v-theme-info));
    }
  }
}